.idea
**/mask_json

#train
**/img-raw
**/img-test
**/*.pth

##contours
**/img_result

##iris_segmentation
**/img_result
**/mask_truth

##vector_embedding
**/features

#module
**/normalization_img
**/segmentation_img

